@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.row__narrow {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container {
  padding: 96px 0;
}

.purple {
  color: #6415ff;
}

.black {
  color: #000;
}

.white {
  color: #fff;
}
section {
  padding: 0 32px;
}

main {
  margin-bottom: 96px;
}

h2 {
  font-weight: 900;
  padding: 12px;
}

button {
  border-radius: 50px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #6415ff;
  border: none;
  border-radius: 50px;
  padding: 12px 32px;
}

h1 {
  font-size: 40px;
  color: #1a202c;
  font-weight: 700;
}

.big--bold {
  font-size: 45px;
  font-weight: 800;
}

.bold--light {
  font-weight: 400;
}

.bold--medium {
  font-weight: 600;
}
/* 

NAVBAR ↓

*/

nav {
  display: flex;
}

.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.nav__logo {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding-bottom: 4px;
}

.nav__img {
  width: 11%;
}

.nav__links {
  display: flex;
  align-items: center;
  max-width: 1000px;
}

.login-signup {
  display: flex;
  align-items: center;
}
.nav__link {
  margin: 24px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}

.contact {
  width: 90px;
}
.btn__menu {
  display: none;
  background: transparent;
  border: none;
  transition: all 300ms ease;
}

.btn__menu--svg:hover {
  filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg)
    brightness(94%) contrast(115%);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 378px;
  margin: 24px 16px;
  padding: 32px;
  background-color: #fff;
  border: 1px solid rgb(229, 231, 235);
  border-radius: 8px;
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  transform: translateX(300%);
  transition: all 300ms ease;
}

.modal__links {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__link {
  color: #1a202c;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  margin: 8px 0;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
}

.modal__link--primary {
  color: #f7fafc;
  padding: 12px 32px;
  background: #6415ff;
  border-radius: 500px;
  border: none;
}

.menu--open .modal {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

.btn__menu--close {
  position: fixed;
  top: 24px;
  right: 18px;
}

.nav__button {
  padding: 12px 30px;
  width: 120px;
}

/* 

HEADER / ABOUT US ↓

*/

header .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-me--text--wrapper {
  display: flex;
  width: 40%;
  flex-direction: column;
}
.about-me--para {
  margin-top: 40px;
  margin-bottom: 40px;
}

.about-me__img--wrapper--hero {
  display: flex;
  justify-content: center;
  width: 60%;
}
.about-me__img {
  display: flex;
  width: 70%;
}

.about-me__input {
  flex: 1;
  min-width: 0;
  border: none;
  outline: none;
  background: transparent;

  padding: 0 32px;
  color: #acb1b9;
  font-size: 16px;
  font-weight: 400;
}

.about-me--button {
  border-radius: 50px;
  padding: 15px 32px;
}
.input--wrapper {
  display: flex;
  align-items: center;

  width: 450px;
  max-width: 500px;

  padding: 8px;
  border: 2px solid #e1e6ee;
  border-radius: 50px;

  box-sizing: border-box;
}

.logo-strip--wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.logo-strip {
  opacity: 0.7;
}

.logo-strip--text {
  opacity: 0.7;
  color: grey;
  font-weight: 700;
  padding-bottom: 20px;
}
/* 

FEATURES ↓

*/

#features {
  position: relative;
}

#features .row__narrow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features--text {
  text-align: center;
}

.features--para {
  max-width: 500px;
  line-height: 1.5;
  color: grey;
}

.service {
  display: flex;
  width: calc(100% / 3);
  margin-top: 40px;
}

.services {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}

.service__text--wrapper {
  padding: 20px;
  padding-top: 0;
}

.service--heading {
  text-align: left;
  padding: 0px;
  font-weight: 600;
}

.service--para {
  display: flex;
  width: 100%;
  color: grey;
  line-height: 2;
  padding-top: 12px;
}

.service__img--wrapper {
  display: flex;
  flex-shrink: 0;
  border: solid 1px rgb(226, 226, 226);
  padding: 20px;
  border-radius: 50%;
  text-align: center;
  height: 9vh;
}

.service__img {
  width: 100%;
}
/* 

QUALITY WORK ↓

*/

#quality .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quality--text {
  font-weight: 600;
  letter-spacing: 2px;
}
.quality--text--wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.quality--title {
  margin-top: 20px;
  font-weight: 900;
  color: #243e63;
  width: 90%;
}
.quality--para {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 90%;
}

.quality__hero__screenshot--wrapper {
  display: flex;
  justify-content: center;
  width: 50%;
  text-size-adjust: 100%;
  tab-size: 4;
  --backgroundOpacityMurky: rgba(255, 255, 255, 0.95);
  --onBackgroundLight: rgba(36, 36, 36, 0.1);
  --background: #fff;
  --onBackground: #242424;
  --accent: #0f71f0;
  --default-black: rgba(0, 0, 0, 0);
  --backgroundShadow: rgba(0, 0, 0, 0.14);
  --onAccent: #fff;
  --onAccentDisabled: #b2d4fc;
  --onBackgroundDisabled: #919191;
  --onBackgroundSecondary: #5b5b5b;
  --accentHighContrast: #0e68dd;
  --backgroundButtonDisabled: rgba(68, 68, 68, 0.1);
  --onBackgroundExtraLight: #f4f4f4;
  --scrollTrack: #e8e8e8;
  --scrollThumb: #a1a1a1;
  --buttonHover: #e0e0e0;
  --critical: #d40404;
  --img-logo: url(https://treact.owaiskhan.me/assets/images/logo.d1d5a0b776e710da9bf9.svg);
  --img-completed: url(https://treact.owaiskhan.me/assets/images/status_ok.d443655b70d223250fa8.svg);
  --img-alert: url(https://treact.owaiskhan.me/assets/images/alert.474be14797d7e695bcaf.svg);
  --img-info: url(https://treact.owaiskhan.me/assets/images/info.56a5f71fdc727a40de66.svg);
  --img-tooltip: url(https://treact.owaiskhan.me/assets/images/tooltip.50ab4baeb9ac63633068.svg);
  --no-video-img: url(https://treact.owaiskhan.me/assets/images/no-video-illustration.319bd3f600c239b14382.svg);
  line-height: inherit;
  font-family: Inter, system-ui;
  --tw-text-opacity: 1;
  color: rgb(36 62 99 / var(--tw-text-opacity));
  box-sizing: border-box;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(226, 232, 240);
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: var(--tw-empty, /*!*/ /*!*/);
  --tw-pan-y: var(--tw-empty, /*!*/ /*!*/);
  --tw-pinch-zoom: var(--tw-empty, /*!*/ /*!*/);
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal: var(--tw-empty, /*!*/ /*!*/);
  --tw-slashed-zero: var(--tw-empty, /*!*/ /*!*/);
  --tw-numeric-figure: var(--tw-empty, /*!*/ /*!*/);
  --tw-numeric-spacing: var(--tw-empty, /*!*/ /*!*/);
  --tw-numeric-fraction: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(66 153 225 / 0.5);
  --tw-blur: var(--tw-empty, /*!*/ /*!*/);
  --tw-brightness: var(--tw-empty, /*!*/ /*!*/);
  --tw-contrast: var(--tw-empty, /*!*/ /*!*/);
  --tw-grayscale: var(--tw-empty, /*!*/ /*!*/);
  --tw-hue-rotate: var(--tw-empty, /*!*/ /*!*/);
  --tw-invert: var(--tw-empty, /*!*/ /*!*/);
  --tw-saturate: var(--tw-empty, /*!*/ /*!*/);
  --tw-sepia: var(--tw-empty, /*!*/ /*!*/);
  --tw-drop-shadow: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-blur: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-brightness: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-contrast: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-grayscale: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-hue-rotate: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-invert: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-opacity: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-saturate: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-sepia: var(--tw-empty, /*!*/ /*!*/);
  margin-left: 0px;
  margin-right: 0px;
  max-width: none;
  position: relative;
  flex-shrink: 0;
  width: 50%;
}
.quality__hero__screenshot--img {
  display: flex;
  width: 100%;
}

.quality--button {
  display: flex;
  flex-direction: column;
  width: 140px;
  padding: 14px 0px;
  align-items: center;
  justify-content: center;
}
.left__circle {
  text-size-adjust: 100%;
  tab-size: 4;
  --backgroundOpacityMurky: rgba(255, 255, 255, 0.95);
  --onBackgroundLight: rgba(36, 36, 36, 0.1);
  --background: #fff;
  --onBackground: #242424;
  --accent: #0f71f0;
  --default-black: rgba(0, 0, 0, 0);
  --backgroundShadow: rgba(0, 0, 0, 0.14);
  --onAccent: #fff;
  --onAccentDisabled: #b2d4fc;
  --onBackgroundDisabled: #919191;
  --onBackgroundSecondary: #5b5b5b;
  --accentHighContrast: #0e68dd;
  --backgroundButtonDisabled: rgba(68, 68, 68, 0.1);
  --onBackgroundExtraLight: #f4f4f4;
  --scrollTrack: #e8e8e8;
  --scrollThumb: #a1a1a1;
  --buttonHover: #e0e0e0;
  --critical: #d40404;
  --img-logo: url(https://treact.owaiskhan.me/assets/images/logo.d1d5a0b776e710da9bf9.svg);
  --img-completed: url(https://treact.owaiskhan.me/assets/images/status_ok.d443655b70d223250fa8.svg);
  --img-alert: url(https://treact.owaiskhan.me/assets/images/alert.474be14797d7e695bcaf.svg);
  --img-info: url(https://treact.owaiskhan.me/assets/images/info.56a5f71fdc727a40de66.svg);
  --img-tooltip: url(https://treact.owaiskhan.me/assets/images/tooltip.50ab4baeb9ac63633068.svg);
  --no-video-img: url(https://treact.owaiskhan.me/assets/images/no-video-illustration.319bd3f600c239b14382.svg);
  line-height: inherit;
  font-family: Inter, system-ui;
  --tw-text-opacity: 1;
  color: rgb(36 62 99 / var(--tw-text-opacity));
  box-sizing: border-box;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(226, 232, 240);
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: var(--tw-empty, /*!*/ /*!*/);
  --tw-pan-y: var(--tw-empty, /*!*/ /*!*/);
  --tw-pinch-zoom: var(--tw-empty, /*!*/ /*!*/);
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal: var(--tw-empty, /*!*/ /*!*/);
  --tw-slashed-zero: var(--tw-empty, /*!*/ /*!*/);
  --tw-numeric-figure: var(--tw-empty, /*!*/ /*!*/);
  --tw-numeric-spacing: var(--tw-empty, /*!*/ /*!*/);
  --tw-numeric-fraction: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(66 153 225 / 0.5);
  --tw-blur: var(--tw-empty, /*!*/ /*!*/);
  --tw-brightness: var(--tw-empty, /*!*/ /*!*/);
  --tw-contrast: var(--tw-empty, /*!*/ /*!*/);
  --tw-grayscale: var(--tw-empty, /*!*/ /*!*/);
  --tw-hue-rotate: var(--tw-empty, /*!*/ /*!*/);
  --tw-invert: var(--tw-empty, /*!*/ /*!*/);
  --tw-saturate: var(--tw-empty, /*!*/ /*!*/);
  --tw-sepia: var(--tw-empty, /*!*/ /*!*/);
  --tw-drop-shadow: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-blur: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-brightness: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-contrast: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-grayscale: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-hue-rotate: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-invert: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-opacity: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-saturate: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-sepia: var(--tw-empty, /*!*/ /*!*/);
  display: block;
  pointer-events: none;
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: -10;
  height: 16rem;
  width: 16rem;
  --tw-translate-x: -66.67%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  opacity: 0.05;
}
.right__dots__svg {
  text-size-adjust: 100%;
  tab-size: 4;
  --backgroundOpacityMurky: rgba(255, 255, 255, 0.95);
  --onBackgroundLight: rgba(36, 36, 36, 0.1);
  --background: #fff;
  --onBackground: #242424;
  --accent: #0f71f0;
  --default-black: rgba(0, 0, 0, 0);
  --backgroundShadow: rgba(0, 0, 0, 0.14);
  --onAccent: #fff;
  --onAccentDisabled: #b2d4fc;
  --onBackgroundDisabled: #919191;
  --onBackgroundSecondary: #5b5b5b;
  --accentHighContrast: #0e68dd;
  --backgroundButtonDisabled: rgba(68, 68, 68, 0.1);
  --onBackgroundExtraLight: #f4f4f4;
  --scrollTrack: #e8e8e8;
  --scrollThumb: #a1a1a1;
  --buttonHover: #e0e0e0;
  --critical: #d40404;
  --img-logo: url(https://treact.owaiskhan.me/assets/images/logo.d1d5a0b776e710da9bf9.svg);
  --img-completed: url(https://treact.owaiskhan.me/assets/images/status_ok.d443655b70d223250fa8.svg);
  --img-alert: url(https://treact.owaiskhan.me/assets/images/alert.474be14797d7e695bcaf.svg);
  --img-info: url(https://treact.owaiskhan.me/assets/images/info.56a5f71fdc727a40de66.svg);
  --img-tooltip: url(https://treact.owaiskhan.me/assets/images/tooltip.50ab4baeb9ac63633068.svg);
  --no-video-img: url(https://treact.owaiskhan.me/assets/images/no-video-illustration.319bd3f600c239b14382.svg);
  line-height: inherit;
  font-family: Inter, system-ui;
  box-sizing: border-box;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(226, 232, 240);
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: var(--tw-empty, /*!*/ /*!*/);
  --tw-pan-y: var(--tw-empty, /*!*/ /*!*/);
  --tw-pinch-zoom: var(--tw-empty, /*!*/ /*!*/);
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal: var(--tw-empty, /*!*/ /*!*/);
  --tw-slashed-zero: var(--tw-empty, /*!*/ /*!*/);
  --tw-numeric-figure: var(--tw-empty, /*!*/ /*!*/);
  --tw-numeric-spacing: var(--tw-empty, /*!*/ /*!*/);
  --tw-numeric-fraction: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(66 153 225 / 0.5);
  --tw-blur: var(--tw-empty, /*!*/ /*!*/);
  --tw-brightness: var(--tw-empty, /*!*/ /*!*/);
  --tw-contrast: var(--tw-empty, /*!*/ /*!*/);
  --tw-grayscale: var(--tw-empty, /*!*/ /*!*/);
  --tw-hue-rotate: var(--tw-empty, /*!*/ /*!*/);
  --tw-invert: var(--tw-empty, /*!*/ /*!*/);
  --tw-saturate: var(--tw-empty, /*!*/ /*!*/);
  --tw-sepia: var(--tw-empty, /*!*/ /*!*/);
  --tw-drop-shadow: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-blur: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-brightness: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-contrast: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-grayscale: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-hue-rotate: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-invert: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-opacity: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-saturate: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-sepia: var(--tw-empty, /*!*/ /*!*/);
  display: block;
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: -10;
  height: 5rem;
  width: 5rem;
  --tw-translate-x: 50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-translate-y: 50%;
  fill: rgb(100, 21, 255);
  --tw-text-opacity: 1;
  color: rgb(100 21 255 / var(--tw-text-opacity));
}
.bottom__dots__svg {
  text-size-adjust: 100%;
  tab-size: 4;
  --backgroundOpacityMurky: rgba(255, 255, 255, 0.95);
  --onBackgroundLight: rgba(36, 36, 36, 0.1);
  --background: #fff;
  --onBackground: #242424;
  --accent: #0f71f0;
  --default-black: rgba(0, 0, 0, 0);
  --backgroundShadow: rgba(0, 0, 0, 0.14);
  --onAccent: #fff;
  --onAccentDisabled: #b2d4fc;
  --onBackgroundDisabled: #919191;
  --onBackgroundSecondary: #5b5b5b;
  --accentHighContrast: #0e68dd;
  --backgroundButtonDisabled: rgba(68, 68, 68, 0.1);
  --onBackgroundExtraLight: #f4f4f4;
  --scrollTrack: #e8e8e8;
  --scrollThumb: #a1a1a1;
  --buttonHover: #e0e0e0;
  --critical: #d40404;
  --img-logo: url(https://treact.owaiskhan.me/assets/images/logo.d1d5a0b776e710da9bf9.svg);
  --img-completed: url(https://treact.owaiskhan.me/assets/images/status_ok.d443655b70d223250fa8.svg);
  --img-alert: url(https://treact.owaiskhan.me/assets/images/alert.474be14797d7e695bcaf.svg);
  --img-info: url(https://treact.owaiskhan.me/assets/images/info.56a5f71fdc727a40de66.svg);
  --img-tooltip: url(https://treact.owaiskhan.me/assets/images/tooltip.50ab4baeb9ac63633068.svg);
  --no-video-img: url(https://treact.owaiskhan.me/assets/images/no-video-illustration.319bd3f600c239b14382.svg);
  line-height: inherit;
  font-family: Inter, system-ui;
  box-sizing: border-box;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(226, 232, 240);
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: var(--tw-empty, /*!*/ /*!*/);
  --tw-pan-y: var(--tw-empty, /*!*/ /*!*/);
  --tw-pinch-zoom: var(--tw-empty, /*!*/ /*!*/);
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal: var(--tw-empty, /*!*/ /*!*/);
  --tw-slashed-zero: var(--tw-empty, /*!*/ /*!*/);
  --tw-numeric-figure: var(--tw-empty, /*!*/ /*!*/);
  --tw-numeric-spacing: var(--tw-empty, /*!*/ /*!*/);
  --tw-numeric-fraction: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(66 153 225 / 0.5);
  --tw-blur: var(--tw-empty, /*!*/ /*!*/);
  --tw-brightness: var(--tw-empty, /*!*/ /*!*/);
  --tw-contrast: var(--tw-empty, /*!*/ /*!*/);
  --tw-grayscale: var(--tw-empty, /*!*/ /*!*/);
  --tw-hue-rotate: var(--tw-empty, /*!*/ /*!*/);
  --tw-invert: var(--tw-empty, /*!*/ /*!*/);
  --tw-saturate: var(--tw-empty, /*!*/ /*!*/);
  --tw-sepia: var(--tw-empty, /*!*/ /*!*/);
  --tw-drop-shadow: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-blur: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-brightness: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-contrast: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-grayscale: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-hue-rotate: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-invert: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-opacity: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-saturate: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-sepia: var(--tw-empty, /*!*/ /*!*/);
  display: block;
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: -10;
  height: 5rem;
  width: 5rem;
  --tw-translate-y: 50%;
  fill: currentcolor;
  --tw-text-opacity: 1;
  color: rgb(100 21 255 / var(--tw-text-opacity));
  left: 50%;
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  opacity: 0.15;
  fill: rgb(100, 21, 255);
}

/* 

STEPS ↓

*/

#steps .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.steps--text {
  font-weight: 600;
  letter-spacing: 2px;
}
.steps--text--wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 475px;
  margin-left: 90px;
  margin-top: 111px;
}

.steps--title {
  margin-top: 20px;
  font-weight: 900;
  color: #243e63;
  width: 90%;
}
.steps--para {
  display: flex;
  width: 60%;
  color: rgb(160, 168, 177);
}

.steps__hero__screenshot--wrapper {
  display: flex;
  justify-content: center;
  width: 50%;
  box-sizing: border-box;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(226, 232, 240);

  margin-left: 0px;
  margin-right: 0px;
  max-width: none;
  position: relative;
  flex-shrink: 0;
  width: 50%;
}

.steps__hero__screenshot--img {
  display: flex;
  width: 100%;
}

dots {
  left: 50%;
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  opacity: 0.15;
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: -10;
  height: 5rem;
  width: 5rem;
  --tw-translate-y: 50%;
  fill: currentcolor;
  --tw-text-opacity: 1;
  color: rgb(100 21 255 / var(--tw-text-opacity));
  display: block;
  box-sizing: border-box;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(226, 232, 240);
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: var(--tw-empty, /*!*/ /*!*/);
  --tw-pan-y: var(--tw-empty, /*!*/ /*!*/);
  --tw-pinch-zoom: var(--tw-empty, /*!*/ /*!*/);
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal: var(--tw-empty, /*!*/ /*!*/);
  --tw-slashed-zero: var(--tw-empty, /*!*/ /*!*/);
  --tw-numeric-figure: var(--tw-empty, /*!*/ /*!*/);
  --tw-numeric-spacing: var(--tw-empty, /*!*/ /*!*/);
  --tw-numeric-fraction: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(66 153 225 / 0.5);
  --tw-blur: var(--tw-empty, /*!*/ /*!*/);
  --tw-brightness: var(--tw-empty, /*!*/ /*!*/);
  --tw-contrast: var(--tw-empty, /*!*/ /*!*/);
  --tw-grayscale: var(--tw-empty, /*!*/ /*!*/);
  --tw-hue-rotate: var(--tw-empty, /*!*/ /*!*/);
  --tw-invert: var(--tw-empty, /*!*/ /*!*/);
  --tw-saturate: var(--tw-empty, /*!*/ /*!*/);
  --tw-sepia: var(--tw-empty, /*!*/ /*!*/);
  --tw-drop-shadow: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-blur: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-brightness: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-contrast: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-grayscale: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-hue-rotate: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-invert: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-opacity: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-saturate: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-sepia: var(--tw-empty, /*!*/ /*!*/);
  font-family: Inter, system-ui;
  line-height: inherit;
  --backgroundOpacityMurky: rgba(255, 255, 255, 0.95);
  --onBackgroundLight: rgba(36, 36, 36, 0.1);
  --background: #fff;
  --onBackground: #242424;
  --accent: #0f71f0;
  --default-black: rgba(0, 0, 0, 0);
  --backgroundShadow: rgba(0, 0, 0, 0.14);
  --onAccent: #fff;
  --onAccentDisabled: #b2d4fc;
  --onBackgroundDisabled: #919191;
  --onBackgroundSecondary: #5b5b5b;
  --accentHighContrast: #0e68dd;
  --backgroundButtonDisabled: rgba(68, 68, 68, 0.1);
  --onBackgroundExtraLight: #f4f4f4;
  --scrollTrack: #e8e8e8;
  --scrollThumb: #a1a1a1;
  --buttonHover: #e0e0e0;
  --critical: #d40404;
  --img-logo: url(https://treact.owaiskhan.me/assets/images/logo.d1d5a0b776e710da9bf9.svg);
  --img-completed: url(https://treact.owaiskhan.me/assets/images/status_ok.d443655b70d223250fa8.svg);
  --img-alert: url(https://treact.owaiskhan.me/assets/images/alert.474be14797d7e695bcaf.svg);
  --img-info: url(https://treact.owaiskhan.me/assets/images/info.56a5f71fdc727a40de66.svg);
  --img-tooltip: url(https://treact.owaiskhan.me/assets/images/tooltip.50ab4baeb9ac63633068.svg);
  --no-video-img: url(https://treact.owaiskhan.me/assets/images/no-video-illustration.319bd3f600c239b14382.svg);
  text-size-adjust: 100%;
  tab-size: 4;
}

.steps__sub-header {
  font-weight: 600;
  font-size: 20px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.number__steps--grey {
  color: rgb(203 213 224);
  font-weight: 700;
  font-size: 36px;
  padding: 0px;
}

.step__number {
  display: flex;
  list-style: none;
  padding-top: 20px;
  margin-bottom: 28px;
}

.steps {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.step {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin-top: 20px;
}

/* 

VALUES ↓

*/

#values .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.values {
  display: flex;
  margin-top: 40px;
  width: 65%;
}

.values__img--wrapper {
  width: 60%;
}

.values__img {
  width: 100%;
}

.values__text {
  width: 50%;
}
.values--text {
  margin-bottom: 20px;
}
.values__sub-title {
  display: flex;
  align-items: center;
}

.values--para {
  width: 90%;
  line-height: 26px;
  color: rgb(124, 139, 161);
  margin-top: 20px;
}

.value--para {
  line-height: 26px;
  padding-top: 20px;
  width: 275px;
  color: rgb(124, 139, 161);
}

.values--title {
  color: rgb(36, 62, 99);
}
.svg__money__sign--wrapper {
  text-size-adjust: 100%;
  tab-size: 4;
  --backgroundOpacityMurky: rgba(255, 255, 255, 0.95);
  --onBackgroundLight: rgba(36, 36, 36, 0.1);
  --background: #fff;
  --onBackground: #242424;
  --accent: #0f71f0;
  --default-black: rgba(0, 0, 0, 0);
  --backgroundShadow: rgba(0, 0, 0, 0.14);
  --onAccent: #fff;
  --onAccentDisabled: #b2d4fc;
  --onBackgroundDisabled: #919191;
  --onBackgroundSecondary: #5b5b5b;
  --accentHighContrast: #0e68dd;
  --backgroundButtonDisabled: rgba(68, 68, 68, 0.1);
  --onBackgroundExtraLight: #f4f4f4;
  --scrollTrack: #e8e8e8;
  --scrollThumb: #a1a1a1;
  --buttonHover: #e0e0e0;
  --critical: #d40404;
  --img-logo: url(https://treact.owaiskhan.me/assets/images/logo.d1d5a0b776e710da9bf9.svg);
  --img-completed: url(https://treact.owaiskhan.me/assets/images/status_ok.d443655b70d223250fa8.svg);
  --img-alert: url(https://treact.owaiskhan.me/assets/images/alert.474be14797d7e695bcaf.svg);
  --img-info: url(https://treact.owaiskhan.me/assets/images/info.56a5f71fdc727a40de66.svg);
  --img-tooltip: url(https://treact.owaiskhan.me/assets/images/tooltip.50ab4baeb9ac63633068.svg);
  --no-video-img: url(https://treact.owaiskhan.me/assets/images/no-video-illustration.319bd3f600c239b14382.svg);
  line-height: inherit;
  font-family: Inter, system-ui;
  box-sizing: border-box;
  border-style: solid;
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: var(--tw-empty, /*!*/ /*!*/);
  --tw-pan-y: var(--tw-empty, /*!*/ /*!*/);
  --tw-pinch-zoom: var(--tw-empty, /*!*/ /*!*/);
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal: var(--tw-empty, /*!*/ /*!*/);
  --tw-slashed-zero: var(--tw-empty, /*!*/ /*!*/);
  --tw-numeric-figure: var(--tw-empty, /*!*/ /*!*/);
  --tw-numeric-spacing: var(--tw-empty, /*!*/ /*!*/);
  --tw-numeric-fraction: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(66 153 225 / 0.5);
  --tw-blur: var(--tw-empty, /*!*/ /*!*/);
  --tw-brightness: var(--tw-empty, /*!*/ /*!*/);
  --tw-contrast: var(--tw-empty, /*!*/ /*!*/);
  --tw-grayscale: var(--tw-empty, /*!*/ /*!*/);
  --tw-hue-rotate: var(--tw-empty, /*!*/ /*!*/);
  --tw-invert: var(--tw-empty, /*!*/ /*!*/);
  --tw-saturate: var(--tw-empty, /*!*/ /*!*/);
  --tw-sepia: var(--tw-empty, /*!*/ /*!*/);
  --tw-drop-shadow: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-blur: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-brightness: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-contrast: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-grayscale: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-hue-rotate: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-invert: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-opacity: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-saturate: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-sepia: var(--tw-empty, /*!*/ /*!*/);
  margin-left: 0px;
  margin-right: 14px;
  display: inline-block;
  flex-shrink: 0;
  --tw-border-opacity: 1;
  border-color: rgb(100 21 255 / var(--tw-border-opacity));
  padding: 0.5rem;
  text-align: center;
  border-radius: 9999px;
  border-width: 0px;
  --tw-bg-opacity: 1;
  background-color: rgb(154 230 180 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(39 103 73 / var(--tw-text-opacity));
}

.money__sign {
  text-size-adjust: 100%;
  tab-size: 4;
  --backgroundOpacityMurky: rgba(255, 255, 255, 0.95);
  --onBackgroundLight: rgba(36, 36, 36, 0.1);
  --background: #fff;
  --onBackground: #242424;
  --accent: #0f71f0;
  --default-black: rgba(0, 0, 0, 0);
  --backgroundShadow: rgba(0, 0, 0, 0.14);
  --onAccent: #fff;
  --onAccentDisabled: #b2d4fc;
  --onBackgroundDisabled: #919191;
  --onBackgroundSecondary: #5b5b5b;
  --accentHighContrast: #0e68dd;
  --backgroundButtonDisabled: rgba(68, 68, 68, 0.1);
  --onBackgroundExtraLight: #f4f4f4;
  --scrollTrack: #e8e8e8;
  --scrollThumb: #a1a1a1;
  --buttonHover: #e0e0e0;
  --critical: #d40404;
  --img-logo: url(https://treact.owaiskhan.me/assets/images/logo.d1d5a0b776e710da9bf9.svg);
  --img-completed: url(https://treact.owaiskhan.me/assets/images/status_ok.d443655b70d223250fa8.svg);
  --img-alert: url(https://treact.owaiskhan.me/assets/images/alert.474be14797d7e695bcaf.svg);
  --img-info: url(https://treact.owaiskhan.me/assets/images/info.56a5f71fdc727a40de66.svg);
  --img-tooltip: url(https://treact.owaiskhan.me/assets/images/tooltip.50ab4baeb9ac63633068.svg);
  --no-video-img: url(https://treact.owaiskhan.me/assets/images/no-video-illustration.319bd3f600c239b14382.svg);
  line-height: inherit;
  font-family: Inter, system-ui;
  --tw-border-opacity: 1;
  text-align: center;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  color: rgb(39 103 73 / var(--tw-text-opacity));
  fill: none;
  stroke: rgb(39, 103, 73);
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  box-sizing: border-box;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(226, 232, 240);
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: var(--tw-empty, /*!*/ /*!*/);
  --tw-pan-y: var(--tw-empty, /*!*/ /*!*/);
  --tw-pinch-zoom: var(--tw-empty, /*!*/ /*!*/);
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal: var(--tw-empty, /*!*/ /*!*/);
  --tw-slashed-zero: var(--tw-empty, /*!*/ /*!*/);
  --tw-numeric-figure: var(--tw-empty, /*!*/ /*!*/);
  --tw-numeric-spacing: var(--tw-empty, /*!*/ /*!*/);
  --tw-numeric-fraction: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(66 153 225 / 0.5);
  --tw-blur: var(--tw-empty, /*!*/ /*!*/);
  --tw-brightness: var(--tw-empty, /*!*/ /*!*/);
  --tw-contrast: var(--tw-empty, /*!*/ /*!*/);
  --tw-grayscale: var(--tw-empty, /*!*/ /*!*/);
  --tw-hue-rotate: var(--tw-empty, /*!*/ /*!*/);
  --tw-invert: var(--tw-empty, /*!*/ /*!*/);
  --tw-saturate: var(--tw-empty, /*!*/ /*!*/);
  --tw-sepia: var(--tw-empty, /*!*/ /*!*/);
  --tw-drop-shadow: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-blur: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-brightness: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-contrast: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-grayscale: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-hue-rotate: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-invert: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-opacity: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-saturate: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-sepia: var(--tw-empty, /*!*/ /*!*/);
  display: block;
  height: 1.25rem;
  width: 1.25rem;
  color: rgb(39, 103, 73);
}

.svg__suitcase--wrapper {
  text-size-adjust: 100%;
  tab-size: 4;
  --backgroundOpacityMurky: rgba(255, 255, 255, 0.95);
  --onBackgroundLight: rgba(36, 36, 36, 0.1);
  --background: #fff;
  --onBackground: #242424;
  --accent: #0f71f0;
  --default-black: rgba(0, 0, 0, 0);
  --backgroundShadow: rgba(0, 0, 0, 0.14);
  --onAccent: #fff;
  --onAccentDisabled: #b2d4fc;
  --onBackgroundDisabled: #919191;
  --onBackgroundSecondary: #5b5b5b;
  --accentHighContrast: #0e68dd;
  --backgroundButtonDisabled: rgba(68, 68, 68, 0.1);
  --onBackgroundExtraLight: #f4f4f4;
  --scrollTrack: #e8e8e8;
  --scrollThumb: #a1a1a1;
  --buttonHover: #e0e0e0;
  --critical: #d40404;
  --img-logo: url(https://treact.owaiskhan.me/assets/images/logo.d1d5a0b776e710da9bf9.svg);
  --img-completed: url(https://treact.owaiskhan.me/assets/images/status_ok.d443655b70d223250fa8.svg);
  --img-alert: url(https://treact.owaiskhan.me/assets/images/alert.474be14797d7e695bcaf.svg);
  --img-info: url(https://treact.owaiskhan.me/assets/images/info.56a5f71fdc727a40de66.svg);
  --img-tooltip: url(https://treact.owaiskhan.me/assets/images/tooltip.50ab4baeb9ac63633068.svg);
  --no-video-img: url(https://treact.owaiskhan.me/assets/images/no-video-illustration.319bd3f600c239b14382.svg);
  line-height: inherit;
  font-family: Inter, system-ui;
  box-sizing: border-box;
  border-style: solid;
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: var(--tw-empty, /*!*/ /*!*/);
  --tw-pan-y: var(--tw-empty, /*!*/ /*!*/);
  --tw-pinch-zoom: var(--tw-empty, /*!*/ /*!*/);
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal: var(--tw-empty, /*!*/ /*!*/);
  --tw-slashed-zero: var(--tw-empty, /*!*/ /*!*/);
  --tw-numeric-figure: var(--tw-empty, /*!*/ /*!*/);
  --tw-numeric-spacing: var(--tw-empty, /*!*/ /*!*/);
  --tw-numeric-fraction: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(66 153 225 / 0.5);
  --tw-blur: var(--tw-empty, /*!*/ /*!*/);
  --tw-brightness: var(--tw-empty, /*!*/ /*!*/);
  --tw-contrast: var(--tw-empty, /*!*/ /*!*/);
  --tw-grayscale: var(--tw-empty, /*!*/ /*!*/);
  --tw-hue-rotate: var(--tw-empty, /*!*/ /*!*/);
  --tw-invert: var(--tw-empty, /*!*/ /*!*/);
  --tw-saturate: var(--tw-empty, /*!*/ /*!*/);
  --tw-sepia: var(--tw-empty, /*!*/ /*!*/);
  --tw-drop-shadow: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-blur: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-brightness: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-contrast: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-grayscale: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-hue-rotate: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-invert: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-opacity: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-saturate: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-sepia: var(--tw-empty, /*!*/ /*!*/);
  margin-left: 0px;
  margin-right: 10px;
  display: inline-block;
  flex-shrink: 0;
  --tw-border-opacity: 1;
  border-color: rgb(100 21 255 / var(--tw-border-opacity));
  padding: 0.5rem;
  text-align: center;
  border-radius: 9999px;
  border-width: 0px;
  --tw-bg-opacity: 1;
  background-color: rgb(254 178 178 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(155 44 44 / var(--tw-text-opacity));
}

.suit__case {
  height: 1.25rem;
  width: 1.25rem;
  display: block;
  box-sizing: border-box;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(226, 232, 240);
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: var(--tw-empty, /*!*/ /*!*/);
  --tw-pan-y: var(--tw-empty, /*!*/ /*!*/);
  --tw-pinch-zoom: var(--tw-empty, /*!*/ /*!*/);
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal: var(--tw-empty, /*!*/ /*!*/);
  --tw-slashed-zero: var(--tw-empty, /*!*/ /*!*/);
  --tw-numeric-figure: var(--tw-empty, /*!*/ /*!*/);
  --tw-numeric-spacing: var(--tw-empty, /*!*/ /*!*/);
  --tw-numeric-fraction: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(66 153 225 / 0.5);
  --tw-blur: var(--tw-empty, /*!*/ /*!*/);
  --tw-brightness: var(--tw-empty, /*!*/ /*!*/);
  --tw-contrast: var(--tw-empty, /*!*/ /*!*/);
  --tw-grayscale: var(--tw-empty, /*!*/ /*!*/);
  --tw-hue-rotate: var(--tw-empty, /*!*/ /*!*/);
  --tw-invert: var(--tw-empty, /*!*/ /*!*/);
  --tw-saturate: var(--tw-empty, /*!*/ /*!*/);
  --tw-sepia: var(--tw-empty, /*!*/ /*!*/);
  --tw-drop-shadow: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-blur: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-brightness: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-contrast: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-grayscale: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-hue-rotate: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-invert: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-opacity: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-saturate: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-sepia: var(--tw-empty, /*!*/ /*!*/);
  fill: none;
  stroke: rgb(155, 44, 44);
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  color: rgb(155 44 44 / var(--tw-text-opacity));
  --tw-border-opacity: 1;
  text-align: center;
  font-family: Inter, system-ui;
  line-height: inherit;
  --backgroundOpacityMurky: rgba(255, 255, 255, 0.95);
  --onBackgroundLight: rgba(36, 36, 36, 0.1);
  --background: #fff;
  --onBackground: #242424;
  --accent: #0f71f0;
  --default-black: rgba(0, 0, 0, 0);
  --backgroundShadow: rgba(0, 0, 0, 0.14);
  --onAccent: #fff;
  --onAccentDisabled: #b2d4fc;
  --onBackgroundDisabled: #919191;
  --onBackgroundSecondary: #5b5b5b;
  --accentHighContrast: #0e68dd;
  --backgroundButtonDisabled: rgba(68, 68, 68, 0.1);
  --onBackgroundExtraLight: #f4f4f4;
  --scrollTrack: #e8e8e8;
  --scrollThumb: #a1a1a1;
  --buttonHover: #e0e0e0;
  --critical: #d40404;
  --img-logo: url(https://treact.owaiskhan.me/assets/images/logo.d1d5a0b776e710da9bf9.svg);
  --img-completed: url(https://treact.owaiskhan.me/assets/images/status_ok.d443655b70d223250fa8.svg);
  --img-alert: url(https://treact.owaiskhan.me/assets/images/alert.474be14797d7e695bcaf.svg);
  --img-info: url(https://treact.owaiskhan.me/assets/images/info.56a5f71fdc727a40de66.svg);
  --img-tooltip: url(https://treact.owaiskhan.me/assets/images/tooltip.50ab4baeb9ac63633068.svg);
  --no-video-img: url(https://treact.owaiskhan.me/assets/images/no-video-illustration.319bd3f600c239b14382.svg);
  text-size-adjust: 100%;
  tab-size: 4;
}

.value__affordable {
  margin-right: 40px;
}

.values__button {
  margin-top: 40px;
}
/*

PRICING ↓

*/

#pricing .row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing--title {
  margin-top: 30px;
  font-weight: 900;
  color: #243e63;
}

.pricing--para {
  display: flex;
  text-align: center;
  margin-top: 30px;

  width: 55%;
}

.plans {
  display: flex;
  width: 100%;
  margin-top: 40px;
}

.plan {
  display: flex;
  flex-direction: column;
  width: calc(100% / 3);
  font-size: 20px;
  align-items: center;
  padding: 30px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 40px;
  box-shadow:
    rgba(0, 0, 0, 0) 0px,
    0px,
    0px,
    0px;
}

.personal {
  border: solid 1px rgb(226, 232, 240);
  border-radius: 10px;
}

.green__top {
  height: 8px;
  width: 100%;
  background-image: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.red__top {
  height: 8px;
  width: 100%;
  background-image: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.business {
  background-image: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
  border-radius: 10px;
}
.plan__title {
  padding: 20px;
}
.price {
  font-size: 40px;
  padding-top: 0px;
}
.enterprise {
  border: solid 1px rgb(226, 232, 240);
  border-radius: 10px;
}

.monthly--grey {
  color: rgb(160, 174, 192);
}

.month {
  letter-spacing: 1.6px;
  font-size: 16px;

  padding: 20px;
}

.personal__plan__perks {
  width: 100%;
  border-top: solid 1.6px rgb(226, 232, 240);
  border-bottom: solid 1.6px rgb(226, 232, 240);
  text-align: center;
}

.businiess__plan__perks {
  width: 100%;
  border-top: solid 1.6px rgb(102, 126, 234);
  border-bottom: solid 1.6px rgb(102, 126, 234);

  text-align: center;
}

.enterprise__plan__perks {
  width: 100%;
  border-top: solid 1.6px rgb(226, 232, 240);
  border-bottom: solid 1.6px rgb(226, 232, 240);
  text-align: center;
}
.perk__title {
  font-size: 20px;
  font-weight: 600;
  padding: 0px;
  margin-top: 40px;
}

.perk--grey {
  color: rgb(113, 128, 150);
}
.perk {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.white__space {
  height: 8px;
}

.button {
  width: 50%;
  margin: 20px;
  margin-top: 40px;
  padding: 20px 6px;

  font-size: 14px;
}

.business__button {
  color: rgb(100, 21, 255);
  background-color: rgb(247, 250, 252);
}

.personal__button {
  background-image: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.enterprise__button {
  background-image: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}
/* 

TESTIMONIALS ↓

*/

#testimonials .row {
  display: flex;
}

/* 

START / CALL TO ACTION ↓

*/

#start .row {
  position: relative;
  overflow: hidden;
}

.testimonials {
  display: flex;
  align-items: center;
}

.testimonials__text {
  width: 80%;
}

.testimonials__title {
  padding: 0px;
}
.testimonials__img--wrapper {
  width: 100%;
}

.testimonials__img {
  width: 100%;
}

.star {
  color: rgb(246, 173, 85);
  fill: rgb(246, 173, 85);
}

.fa-star {
  color: rgb(246, 173, 85);
}

/* 

FOOTER ↓

*/

footer {
  padding: 96px 32px;
  background-color: rgb(100, 21, 255);
  margin-bottom: -32px;
  position: relative;
  overflow: hidden;
}

/* 

MOBILE RESPONSIVENESS ↓

*/

@media (max-width: 1280px) {
  header .row {
    align-items: flex-end;
  }
}

@media (max-width: 1024px) {
  .btn__menu {
    display: block;
  }
  header .row {
    flex-direction: column;
    align-items: center;
  }
  footer {
    padding: 80px 32px;
  }

  .nav__links {
    display: none;
  }
}

@media (max-width: 768px) {
  #quality .row,
  #values .row {
    flex-direction: column-reverse;
  }
  #steps .row,
  #testimonials .row {
    flex-direction: column;
    align-items: center;
  }
  #pricing .row {
    margin-top: 40px;
  }

  .nav__links {
    display: none;
  }

  .input--wrapper {
    display: flex;
  }

  .about-me--text--wrapper {
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .about-me--title {
    width: 640px;
  }
}

@media (max-width: 640px) {
  .container {
    padding: 80px 0;
  }
  .nav__logo {
    margin: 8px 0;
    padding-bottom: 4px;
  }
  main {
    margin-bottom: 80px;
  }
  .nav__links {
    display: none;
  }
}
